<h3><a href="{{url}}">{{name}}</a></h1>
<img src="{{picture_url}}"/>
<p>Price: {{price}}</p>
<p>{{decription}}</p>
<p>allocated: {{allocated}}</p>
<p>max_units: {{max_units}}</p>
<p>Added {{timestamp}}</p>
<input type="text" value="{{user_allocated}}"/>